[submodule "packages/zpico/zpico-sys/zenoh-pico"]
	path = packages/zpico/zpico-sys/zenoh-pico
	url = https://github.com/jerry73204/zenoh-pico.git
[submodule "colcon-cargo-ros2"]
	path = packages/codegen
	url = https://github.com/jerry73204/colcon-cargo-ros2.git
[submodule "scripts/zenohd/zenoh"]
	path = scripts/zenohd/zenoh
	url = https://github.com/jerry73204/zenoh.git
