[submodule "packages/zpico/zpico-sys/zenoh-pico"]
	path = packages/zpico/zpico-sys/zenoh-pico
	url = https://github.com/jerry73204/zenoh-pico.git
[submodule "colcon-cargo-ros2"]
	path = packages/codegen
	url = https://github.com/NEWSLabNTU/colcon-nano-ros.git
[submodule "packages/xrce/xrce-sys/micro-xrce-dds-client"]
	path = packages/xrce/xrce-sys/micro-xrce-dds-client
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client.git
[submodule "packages/xrce/xrce-sys/micro-cdr"]
	path = packages/xrce/xrce-sys/micro-cdr
	url = https://github.com/eProsima/Micro-CDR.git
[submodule "packages/zpico/zpico-sys/mbedtls"]
	path = packages/zpico/zpico-sys/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "packages/dds/dust-dds"]
	path = packages/dds/dust-dds
	url = https://github.com/jerry73204/dust-dds.git
[submodule "third-party/freertos/kernel"]
	path = third-party/freertos/kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third-party/freertos/lwip"]
	path = third-party/freertos/lwip
	url = https://github.com/jerry73204/lwip.git
[submodule "third-party/threadx/kernel"]
	path = third-party/threadx/kernel
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third-party/threadx/netxduo"]
	path = third-party/threadx/netxduo
	url = https://github.com/NEWSLabNTU/netxduo.git
[submodule "third-party/esp32/qemu"]
	path = third-party/esp32/qemu
	url = https://github.com/espressif/qemu.git
[submodule "third-party/nuttx/libc"]
	path = third-party/nuttx/libc
	url = https://github.com/jerry73204/libc.git
[submodule "third-party/xrce/agent"]
	path = third-party/xrce/agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "third-party/nuttx/nuttx"]
	path = third-party/nuttx/nuttx
	url = https://github.com/jerry73204/nuttx.git
[submodule "third-party/nuttx/nuttx-apps"]
	path = third-party/nuttx/nuttx-apps
	url = https://github.com/apache/nuttx-apps.git
[submodule "third-party/zenoh/zenoh"]
	path = third-party/zenoh/zenoh
	url = https://github.com/jerry73204/zenoh.git
[submodule "third-party/tracing/Tonbandgeraet"]
	path = third-party/tracing/Tonbandgeraet
	url = https://github.com/schilkp/Tonbandgeraet.git
[submodule "third-party/zenoh/rmw_zenoh"]
	path = third-party/zenoh/rmw_zenoh
	url = https://github.com/ros2/rmw_zenoh.git
[submodule "third-party/px4/px4-rs"]
	path = third-party/px4/px4-rs
	url = https://github.com/jerry73204/px4-rs.git
[submodule "third-party/px4/PX4-Autopilot"]
	path = third-party/px4/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "third-party/dds/cyclonedds"]
	path = third-party/dds/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
